.calendar-title {
    font-family: 'Spicy Rice';
    /* border: solid red; */
    display: grid;
    place-items: center;
    color: #f364a2;
    font-family: 'Spicy Rice';
    letter-spacing: -1px;
    text-shadow: 0 0 2px white, 0 0 5px white;
    font-size: 70px;
    text-align: center;
    line-height: 75px;
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
    /* padding-bottom: -125px; */
}

#calendar-outer-row {
    /* border: solid aqua; */
    display: grid;
    place-items: center;
    justify-content: top;
    /* align-items: center; */
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    /* padding: 25px; */
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    /* padding-top: -25px; */
}

#calendar-inner-row {
    /* border: solid blue; */
    /* margin: 25px; */
    margin-top: 5px;
    background-color: rgba(255, 255, 255, .7);
    padding: 25px;
    max-width: 1100px;
    /* display: inline-block; */
    /* text-align: center; */
    place-content: center;
}

#calendar-col {
    /* border: solid orange; */
    display: grid;
    place-items: center right;
    margin-right: 10px;
    max-width: 475px;
}

#monthly-holiday-col {
    /* border: solid purple; */
    /* display: grid; */
    /* place-content: center; */
    max-width: 470px;
    /* height: 100%; */
    /* width: fit-content; */
    /* text-align: center; */
}

#is-also {
    font-family: 'Alumni Sans';
    font-size: 45px;
    font-weight: 800;
    /* color: rgb(78, 47, 78); */
    color: #f364a2;
    margin-top: -40px;
    font-style: italic;
    /* text-align: center; */
    /* border: solid orange; */
    /* margin-right: 20px; */
    height: fit-content;
    /* height: 100%; */
    place-content: center;
    /* max-width: 350px; */
    width: 100%;
    /* text-align: center; */
    /* margin-right: 70px; */
    /* line-height: 10px; */
    /* margin-bottom: -200px; */
}

#monthly-holiday-outer-row {
    /* border: solid red; */
    background-color: rgba(255, 255, 255, .5);
    /* padding-top: 25px; */
    padding-bottom: 25px;
    /* display: inline-block; */
    display: grid;
    place-items: center;
    margin-bottom: 90px;
}

#monthly-holiday-inner-row {
    border: solid orange;
    /* width: 1000px; */
    /* background-color: rgba(255, 255, 255, .6); */
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    /* display: inline-block; */
    /* display: grid; */
    /* place-items: center; */
}

#share-button,
#popup-button {
    cursor: pointer;
}

#footer {
    /* background-color: #fffffc; */
    /* background-color: rgba(130, 110, 135, .9); */
    background-color: rgba(255, 255, 255 .9);
    padding: 14px 16px;
    /* border: solid red; */
    /* text-decoration: none; */
    /* position: fixed; */
}

#footer-text {
    font-size: 18px;
    /* float: left; */
    /* margin-left: 92%; */
    font-family: 'Alumni Sans';
    text-align: right;
    color: rgb(78, 47, 78);
    /* margin-top: 50px; */
    /* border: solid red; */
    /* position: absolute; */
}

#footer-text a {
    color: rgb(78, 47, 78);
    font-weight: 600;
}

:root 
{
    /* --dark-body: #4d4c5a; */
    /* --dark-main: #141529; */
    /* --dark-second: #79788c; */
    /* --dark-hover: #323048; */
    /* --dark-text: #f8fbff; */
    /* --light-body: #f3f8fe; */
    --light-main: #fdfdfd;
    /* --light-second: #c3c2c8; */
    /* --light-hover: #edf0f5; */
    /* --light-text: #151426; */
    /* --blue: #007497; */
    /* --white: #fff; */
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html, */
body {
    /* height: 100vh; */
    display: grid;
    place-items: center;
    /* background-color: var(--bg-body); */
    font-family: 'Inter Tight';
    background-color: #fdfdfd;
}

.calendar {
    height: max-content;
    width: max-content;
    background-color: var(--bg-main);
    border-radius: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.light .calendar {
    box-shadow: var(--shadow);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-txt); 
    padding: 10px;
}

.calendar-body {
    padding: 10px;
}

.calendar-view-container {
    /* border: solid yellowgreen; */
    width: 100%;
    display: grid;
    place-items: center;
}

#calendar-view-container h1 {
    color: #f364a2;
    display: grid;
    place-items: center;
    width: 100%;
}

#click-on-a-day text {
    /* text-align: center; */
    margin-bottom: 50px;
}

#click-on-a-day-text {
    font-family: 'Alumni Sans';
    /* color: #f364a2; */
    color: rgb(78, 47, 78);
    /* display: grid;
    place-items: center; */
    /* text-align: left; */
    border: solid green;
    /* display: grid;
    place-items: center; */
    width: 500px;
}

.arrows {
    /* color: rgb(78, 47, 78); */
    color: #f364a2;
    width: 100%;
}

#this-month {
    font-family: 'Spicy Rice';
    color: rgb(78, 47, 78);
    /* color: #f364a2; */
    font-size: 70px;
    text-shadow: 0 0 2px white, 0 0 2px white;
    margin-top: 75px;
    /* margin-bottom: -10px; */
    /* border: solid red; */
    display: grid;
    text-align: center;
    height: fit-content;
    /* height: 100%; */
    /* margin-top: 10px; */
    /* margin-bottom: -40px; */
    /* max-width: 350; */
    width: 100%;
}

#monthly-holiday text {
    font-family: 'Alumni Sans';
    font-size: 45px;
    font-weight: 800;
    /* color: rgb(78, 47, 78); */
    color: #f364a2;
    margin-top: -70px;
    font-style: italic;
    text-align: right;
    /* border: solid orange; */
    /* margin-right: 70px; */
    /* line-height: 10px; */
}

#monthly-holiday-list {
    font-size: 28px;
    /* border: solid green; */
    font-family: 'Alumni Sans';
    font-weight: 600;
    color: rgb(78, 47, 78);
    line-height: 40px;
    /* background: none; */
}

#calendar-view-nav-buttons {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 75px;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    font-family: 'Alumni Sans';
    font-size: 25px;
    color: #f364a2;
    font-style: italic;
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
    /* font-family: 'Righteous'; */
    font-family: 'Alumni Sans';
    font-weight: 700;
    font-size: 25px;
    color: rgb(78, 47, 78);
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    /* padding: 5px 10px; */
    border-radius: 10px;
    cursor: pointer;
    font-size: 60px;
    /* padding-bottom: 10px; */
    font-family: 'Alumni Sans';
    font-weight: 700;
    /* text-decoration: underline; */
    /* text-align: center; */
    /* place-content: center; */
    color: rgb(78, 47, 78);
}

.month-picker:hover {
    background-color: var(--color-hover);
}

.year-picker {
    padding-top: 15px;
    display: flex;
    align-items: center;
    font-family: 'Alumni Sans';
    font-size: 50px;
    color: rgb(78, 47, 78);
}

.year-picker pre {
    color: #f364a2;
    font-size: 35px;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    color: var(--color-txt);
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.month-list > div > div:hover {
    background-color: var(--color-hover);
}

#year {
    padding-bottom: 15px;
}

#error-text,
#error-image {
    display: grid;
    place-items: center;
    font-family: 'Righteous';
    margin-top: 250px;
}

#error-image {
    margin-left: -100px;
}


#oh-no-text {
    text-align: center;
}

#oh-no-text h1 {
    font-size: 60px;
    color: #f364a2;
}

.unsubscribe-page {
    padding-top: 250px;
    padding-bottom: 100px;
}

#unsubscribe-text1 {
    font-family: 'Righteous';
    font-size: 60px;
}

#unsubscribe-text2 {
    font-family: 'Righteous';
    font-size: 30px;
}

#holiday-body {
    padding-top: 75px;
    padding-bottom: 75px;
    display: grid;
    place-items: center;
}

#calendar-body {
    padding-top: 75px;
    padding-bottom: 75px;
    display: grid;
    place-items: center;
}

#holiday-image {
    filter: brightness(105%);
}

.image-container {
    display: inline-block;
    position: relative;
    line-height: 0;
    background: #ffffff;
}

.image-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    background: #00e1fa;
    opacity: 0.13;
}

.image-container > img {
    -webkit-filter:  brightness(104%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
            filter:  brightness(104%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
    mix-blend-mode: none;
}
  