#email-body {
    display: grid;
    place-items: center;
    border: 2px solid rgb(78, 47, 78);
    border-radius: 5px;
    width: auto;
    background-color: hsla(334, 86%, 67%, 0.1);
    display: grid;
    place-items: center;
    width: 100%;
}

#outer-daily-email-row {
    /* border: solid red; */
    display: grid;
    place-items: center;
    width: 102%;
    background: rgba(255, 255, 255, .6);
}

.inner-daily-email-row {
    /* border: solid blue; */
    padding: 25px;
    margin-bottom: 25px;
    width: 85%;
    background: white;
    text-align: center;
    font-family: 'Alumni Sans';
}

#first-row {
    margin-top: 25px;
}

.logo {
    font-family: 'Spicy Rice';
    letter-spacing: -1px;
    font-size: 32px;
    color: #f364a2;
    text-shadow: 0 0 2px white, 0 0 5px white;
    text-decoration: none;
}

.logo:hover {
    color: rgb(243, 98, 161, .7);
}

#bottom-logo {
    margin-bottom: 50px;
    padding-top: 15px;
    /* padding-bottom: 50px; */
}

#top-logo {
    padding-bottom: 15px;
    padding-top: 15px;
}

#unsubscribe-link {
    font-family: 'Alumni Sans';
    font-size: 20px;
    color:rgb(78, 47, 78, .5);
    padding-bottom: 15px;
}