#popup-window {
    position: fixed;
    width: 340px;
    height: 355px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    }  

#thank-you-window {
    position: fixed;
    width: 340px;
    height: 355px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    }  

#thank-you-text {
    text-align: center;
}