#popup-window {
    position: fixed;
    width: 340px;
    height: 300px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    }  

#thank-you-window {
    position: fixed;
    width: 340px;
    height: 300px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    }  

#thank-you-text {
    text-align: center;
    font-family: 'Righteous';
    color: #f364a2
}

#duplicate-email-window {
    position: fixed;
    width: 340px;
    height: 300px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    }  

#duplicate-email-text {
    text-align: center;
    font-family: 'Righteous';
    color: #f364a2
}

#invalid-email-window {
    position: fixed;
    width: 340px;
    height: 300px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    }  

#invalid-email-text {
    text-align: center;
    font-family: 'Righteous';
    color: #f364a2
}

#disclaimer-text {
    font-size: 12px;
}