body {
    font-family: 'Inter Tight';
}

#base-head {
    display: grid;
    place-items: center;font-size: 22px;
}

.homepage {
    display: grid;
    place-items: center;font-size: 22px;
}

.about-page {
    width: 60%;
    display: grid;
    place-items: center;
}

.error-page {
    width: 60%;
    display: grid;
    place-items: center;
}