.homepage {
    display: grid;
    place-items: center;
}

.about-page {
    width: 60%;
    display: grid;
    place-items: center;
}

.error-page {
    width: 60%;
    display: grid;
    place-items: center;
}