
#navbar {
    background-color: #ABE374;
}

#share-button,
#popup-button {
    cursor: pointer;
}

#navbar-logo {
    font-family: 'Righteous';
    font-size: 25px;
    color: black;
    /* text-shadow: #AFE0CE 0px 0 15px; */
}

#navbar-tagline {
    font-family: 'Righteous';
    font-size: 20px;
    padding-right: 20px;
}

body {
    font-family: 'Inter Tight';
    background-color: #fdfdfd;
}

#logo-button {
    font-family: 'Righteous';
}

button {
    font-family: 'Righteous';
    font-size: 15px;
    padding: 5px;
}

.homepage {
    display: grid;
    place-items: center;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-top: 150px;
    padding-bottom: 150px;
}

#homepage-logo {
    font-family: 'Righteous';
    font-size: 50px;
}

.holiday-name {
    font-family: 'Righteous';
    font-size: 45px;
    color: #f364a2;
}

#holiday-image {
    filter: brightness(105%);
}

#celebration-dynamic {
    font-family: 'Righteous';
    font-size: 47px;
    color: #f364a2;
}

#celebration-today-text {
    font-size: 45px;
}

.explore-more {
    font-family: 'Righteous';
    font-size: 47px;
    color: #f364a2;
}

.image-container {
    display: inline-block;
    position: relative;
    line-height: 0;
    background: #ffffff;
}

.image-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    background: #00e1fa;
    opacity: 0.13;
}

.image-container > img {
    -webkit-filter:  brightness(104%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
            filter:  brightness(104%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
    mix-blend-mode: none;
}

.about-page {
    width: 60%;
    display: grid;
    place-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#error-page {
    width: 60%;
    display: grid;
    place-items: center;
}

#no-results-text {
    font-family: 'Righteous';
    font-size: 47px;
    color: #f364a2;
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-top: 150px;
    padding-bottom: 150px;
}

#no-results-text b {
    font-family: 'Inter Tight';
    color: black;
}