<!DOCTYPE html>

<head>
    {% block head %}
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <style>
    </style>

    {% endblock %}
</head>

<body>
    {% block body %}

    <div id="welcome-email-container">
        <div id="welcome-email-row-1">
            <br>
            <a class="logo" href="{{domain}}/">
                <img
                    src = "https://raw.githubusercontent.com/leah-ewing/HolidayApp/3a321484f75cd6798ea5bb77e16011660933186c/static/media/other_images/logo.png"
                    width = 200>
                </img>
            </a>
        </div>
        <div id="welcome-email-outer-row">
            <div class="welcome-email-inner-row">
                <div id="welcome-email-row-2">
                    <text>
                        <!-- {{random_salutation}} {{fname}}! -->

                        <!-- *** for testing *** -->
                        Hey there, Leah!
                        <!-- *** -->
                    </text>
                </div>
                <div id="welcome-email-row-3">
                    <text>
                        <!-- Happy to meet you on this fine, {{holiday_name}}! -->

                        <!-- *** for testing *** -->
                        Happy to meet you on this fine, International Day of Happiness!
                        <!-- *** -->
                    </text>
                </div>
            </div>
            <div class="welcome-email-inner-row">
                <div id="welcome-email-row-4">
                    <text>
                        Welcome aboard! 🎉 We're thrilled to have you join the HolidayApp family and embark on a journey filled with daily celebrations, fun, and delightful surprises! <br><br>
    
                        Every day, we're dedicated to bringing you the joy of discovering and celebrating unique holidays. From the well-known to the wonderfully obscure, get ready to mark your calendar with exciting festivities you never knew existed! <br><br>
                        
                        Stay tuned for daily updates on what special holiday awaits you. Whether it's National Pizza Day or International Cat Day, we'll keep you in the loop with fascinating facts, ideas for celebration, and perhaps a few surprises along the way. <br><br>
                        
                        Thank you for choosing HolidayApp to add a little more sparkle to your days. Get ready to celebrate daily moments in a whole new light!
                    </text>
                </div>
                <div id="welcome-email-row-5">
                    <text>
                        <!-- <a href="{{domain}}/{{holiday_name}}">
                            <b>Click here to learn more about {{holiday_name}}!</b>
                        </a> -->

                        <!-- *** for testing *** -->
                            <a href="{{domain}}/{{holiday_name}}">
                                <b>Click here to learn more about International Day of Happiness!</b>
                            </a>
                        <!-- *** -->
                    </text>
                </div>
            </div>
            <div id="welcome-email-row-6">
                <text>
                    Cheers to new adventures,<br>
                    - HolidayApp
                </text>
            </div>
        </div>
        <div id="welcome-email-row-7">
            <a class="logo" href="{{domain}}/">
                <img
                    src = "https://raw.githubusercontent.com/leah-ewing/HolidayApp/3a321484f75cd6798ea5bb77e16011660933186c/static/media/other_images/logo.png"
                    width = 200>
                </img>
            </a>
        </div>
        <div id="welcome-email-row-8">
            <a id="unsubscribe-link" href="{{domain}}/unsubscribe/{{email}}">
                Click here to unsubscribe
            </a>
        </div>
    </div>

    {% endblock %}
</body>