{% extends 'base.html' %}

<title>
  {% block title %}About{% endblock %}
</title>

{% block body %}

<body>

  <!-- CSS -->
  <link
    rel="stylesheet"
    href="../static/css/static.css">

  <div class="about-page">

    <!-- <h2>
        <font color=#f364a2>
            <b>About HolidayApp</b>
        </font>
    </h2> -->

    <br>

    <!-- <div id="about-blurb"> -->

      <h1>Welcome to HolidayApp! <br> Your daily dose of celebrations and cheer!</h1><br><br>
      
      <h2>Meet the Developer</h2>
      Hi there! I'm Leah Ewing, the sole developer behind HolidayApp. After experiencing a career transition from being a chef to pursuing engineering, I found myself diving into the world of code and fell in love with building delightful digital experiences. HolidayApp emerged as a passion project born from my love for celebrating life's moments and sharing that joy with others.<br><br>
      
      <h2>What We Do</h2>
      At HolidayApp, we're on a mission to brighten your days with daily holidays. From the quirky and unexpected to the internationally recognized, we curate a diverse array of celebrations for you to explore and enjoy.<br><br>
      
      <h2>Our Commitment</h2>
      As a one-person team, I'm dedicated to crafting an engaging and seamless experience for every user. Your joy and celebration matter most to me, and I'm constantly working to make HolidayApp a place that brings a smile to your face every day.<br><br>
      
      <h2>Connect with HolidayApp</h2>
      Got ideas, questions, or just want to say hello? Feel free to reach out! You can email me at dev.email.holidayapp@gmail.com or to explore my code (including this site's!) on GitHub: <br> <a href = 'https://github.com/leah-ewing/'>Click here!</a> I'm always eager to connect with fellow celebration enthusiasts and improve your experience on HolidayApp.<br><br>
      
      Thank you for being a part of this journey to infuse each day with a touch of holiday magic.
      <br><br>
      Happy celebrating!<br><br>
      
      Leah Ewing<br>
      Founder & Developer, HolidayApp
    <!-- </div> -->

    <br><br>

    <div>
      <button id="calendar-view-from-about" onclick="location.href='/calendar-view'">
        View Calendar
      </button>

      <button id="back-to-home-from-about" onclick="location.href='/'">
        Back Home
      </button>
    </div>
  </div>
</body>

{% endblock %}