{% extends 'base.html' %}

<title>
  {% block title %}About{% endblock %}
</title>

{% block body %}

<body>
  <div class="about-page-container grid-center width-100">

      <div class="row width-100" id="about-title">
        <h1>
          Welcome to <span class="pink-text" id="holidayhub-about-title">HolidayHub</span>
        </h1>
        <h2>
          Your daily dose of celebrations and cheer!
        </h2>
      </div>
    
      <div class="row section-outer-row outer-row width-100 grid-center">

        <div class="row pink-text about-section-title">
          <text>
            What It Is
          </text>
        </div>
        <div class="row inner-row width-100 about-section-text">
          <text>
            HolidayHub was born out of a simple idea: to make every day special. Amidst the hustle and bustle of daily life, it's easy to overlook the little things that bring joy and excitement, and at HolidayHub, the belief is that every day is worth celebrating. 
            
            <br><br>
            
            Its mission is to bring joy, curiosity, and a sense of discovery to your daily routine by highlighting unique and often little-known holidays from around the world. We envision a world where people find joy in the small things, connect over shared celebrations, and embrace the richness of global cultures. By bringing these unique holidays to light, we hope to inspire curiosity, foster inclusivity, and remind everyone that there's always something to celebrate.
          </text>
        </div>

        <div class="row pink-text about-section-title">
          <text>
            Meet the Developer
          </text>
        </div>
        <div class="row inner-row width-100 about-section-text" id="main-meet-the-developer-section">
          <div class="col grid-center meet-the-developer-section">
            <text>
              Hey there! I'm Leah, the heart and mind behind HolidayHub. As a full stack web developer with a passion for creating engaging and user-friendly digital experiences, I’ve poured my love for unique celebrations into every line of code on this site.
  
              <br><br>
  
              Before diving into the world of software engineering, I was a chef. My culinary journey taught me the importance of celebrating flavors, traditions, and the joy that comes from sharing special moments with others. Now, I bring that same spirit of celebration to HolidayHub, where every day is an opportunity to discover something new and delightful.
  
              <br><br>
  
              When I'm not coding, you’ll find me hanging out with my dog, Barney, exploring nature on a hike, or experimenting with new recipes in the kitchen. These hobbies keep me grounded and inspired, fueling my creativity and enthusiasm for life’s little pleasures.
              
              <br><br>
  
              Cheers!
              <div id="about-signature">
                - Leah Ewing
                <br>
                Founder & Developer, HolidayHub
              </div>
            </text>
          </div>
          <div class="col about-images grid-center">
            <div>
              <img class = "image-container brightened-image"
                id="about-image-1"
                src = "../static/media/other_images/barney-leah.jpg">
              </img>

              <br>

              <img class = "image-container brightened-image"
                id="about-image-2"
                src = "../static/media/other_images/leah-chef.jpg">
              </img>
            </div>
          </div>
        </div>

        <div class="row inner-row width-100 about-section-text" id="phone-meet-the-developer-section">
          <div class="row phone-about-images">
              <img class = "image-container brightened-image"
                id="about-image-1-phone"
                src = "../static/media/other_images/barney-leah.jpg">
              </img>

              <img class = "image-container brightened-image"
                id="about-image-2-phone"
                src = "../static/media/other_images/leah-chef.jpg">
              </img>
          </div>
          <div class="row grid-center meet-the-developer-section">
            <text>
              Hey there! I'm Leah, the heart and mind behind HolidayHub. As a full stack web developer with a passion for creating engaging and user-friendly digital experiences, I’ve poured my love for unique celebrations into every line of code on this site.
  
              <br><br>
  
              Before diving into the world of software engineering, I was a chef. My culinary journey taught me the importance of celebrating flavors, traditions, and the joy that comes from sharing special moments with others. Now, I bring that same spirit of celebration to HolidayHub, where every day is an opportunity to discover something new and delightful.
  
              <br><br>
  
              When I'm not coding, you’ll find me hanging out with my dog, Barney, exploring nature on a hike, or experimenting with new recipes in the kitchen. These hobbies keep me grounded and inspired, fueling my creativity and enthusiasm for life’s little pleasures.
              
              <br><br>

              Cheers!
              
              <div id="about-signature">
                - Leah Ewing
                <br>
                Founder & Developer, HolidayHub
              </div>
            </text>
          </div>
        </div>

        <div class="row pink-text about-section-title">
          <text>
            Connect with HolidayHub
          </text>
        </div>
        <div class="row inner-row width-100 about-section-text">
          <text>
            Got ideas, questions, or just want to say hello? Feel free to reach out! You can email me at <b>dev.email.holidayapp@gmail.com</b> or explore my code on GitHub <a href='https://github.com/leah-ewing/'>here</a>.
            
            <br><br>
            
            Oh, did I mention...I'm also <b>open for work!</b> Feel free to connect with me on <a href='https://linkedin.com/in/leahewing/'>LinkedIn</a>.
          </text>
        </div>

        <div class="row about-thank-you width-100 grid-center">
          <div class="row inner-row width-100 about-section-text thank-you">
            <div class="pink-text" id="thank-you-statement">
              Thank you for being a part of this journey to infuse each day with a touch of holiday magic.
              <br>
              Happy celebrating! <span id="emoji">🥳</span>
            </div>
          </div>
        </div>
      </div>
    
    <div class="row about-buttons width-100">
      <div>
        <button id="back-to-home-from-about" class="btn" onclick="location.href='/'">
          Back Home
        </button>
        
        <button id="calendar-view-from-about" class="btn" onclick="location.href='/calendar-view'">
          View Calendar
        </button>
      </div>
    </div>

  </div>
</body>

{% endblock %}