<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
     
  <title>
    {% block title %}{% endblock %}
  </title>

  {% block head %}

  <a href class="nav-link" id= "sign-up-link">Sign Up for Daily Emails!</a> <!-- triggers email form popup -->

  <!-- Script for email form, reformat later to be an actual popup -->
  <!-- Currently doesn't populate DB -->
  <script>
    const sign_up_link = document.querySelector('#sign-up-link');

    const handleClick = () => {
      prompt('Please enter your email:');
    };

    sign_up_link.addEventListener('click', handleClick);
  </script>

  {% endblock %}
  
</head>


  {% block body %}

  {% endblock %}


  {% block after_body %}
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="created-by">
    <text style="color:#046865"><small>Created by: Leah Ewing, 2023</small></text>
          </img>
    </div>
  
  {% endblock %}

  </body>