{% extends 'base.html' %}

<title>
  {% block title %}Calendar View{% endblock %}
</title>

{% block body %}
<body>
  <div class="calendar-view-container">

    <div class="row calendar-title">
      Holiday Picker
    </div>

    <div class="row" id="calendar-outer-row">
      <div class="row" id="calendar-inner-row">
        <div class="col" id="calendar-col">

          <div class="calendar light">
            <div class="calendar-header">
              <span class="month-picker" id="month-picker"></span>
              <div class="year-picker">
                  <span class="year-change" id="prev-year">
                      <pre id="left">◀︎</pre>
                  </span>
                    <span id="year"></span>
                  <span class="year-change" id="next-year">
                      <pre id="right">▶︎</pre>
                  </span>
              </div>
            </div>
            <div class="calendar-body">
                <div class="calendar-week-day">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                  <div class="calendar-days" name="clicked-date" id="clicked-date"></div>
            </div>
            <div class="month-list"></div>
          </div>

        </div>

        <div class="col" id="monthly-holiday-col">
          <div class="row" id="this-month">
            This month
          </div>
          <div class="row" id="is-also">
            is also...
          </div>
          <div class="row" id="monthly-holiday-row">
              <div id="monthly-holiday-list">
                {% for holiday in monthly_holidays %}
                <img
                    src = "../static/media/other_images/flower-icon-pink.png"
                    width = 17px>
                </img> 
                {{holiday.monthly_holiday_name}}
                  <br>
                {% endfor %}
              </div>
              <div id="sign-up-button-span">
                Stay in the know! 
                <br>
                <button id="sign-up-button" class="btn">
                  Sign Up for Daily Emails!
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="calendar-view-nav-buttons">
      <div class="col">
        <button class="btn" id="home-from-calendar-view" onclick="location.href='/'">
          Back Home
        </button>

        <button class="btn" id="random-holiday-from-calendar-view" onclick="location.href='/random-holiday'">
          Random Holiday
        </button>
      </div>
    </div>
  </div>
  <script src="../static/js/calendar.js"></script>

  <div class="row" id="explore-more-row">
    <span class="explore-more">
      Explore More Holidays!
    </span>
  </div>

  <div class="container-fluid slideshow">
    <div class="row home-slideshow" id="slideshow">
      <div class="col" id="left-slideshow-arrow">
        <a href id="left-arrow">◀︎</a>
      </div>
        <div class="col">
          <div class="row" id="holidays">
          </div>
        </div>
      <div class="col" id="right-slideshow-arrow">
        <a href id="right-arrow">▶</a>
      </div>
    </div>
    
  </div>
  <script src="../static/js/slideshow.js"></script>
</body>

{% endblock %}