{% extends 'base.html' %}

{% block title %}Calendar View{% endblock %}

{% block body %}

<!-- CSS -->
<link
  rel="stylesheet"
  href="../static/css/calendar.css">

<!-- JQuery -->
<!-- <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous">
</script> -->


<h1><font color = #f364a2>View Calendar</font></h1>
<br>

<body class="light">
  <div class="calendar">
      <div class="calendar-header">
          <span class="month-picker" id="month-picker"></span>
          <div class="year-picker">
              <span class="year-change" id="prev-year">
                  <pre><</pre>
              </span>
              <span id="year"></span>
              <span class="year-change" id="next-year">
                  <pre>></pre>
              </span>
          </div>
      </div>
      <div class="calendar-body">
          <div class="calendar-week-day">
              <div>Sun</div>
              <div>Mon</div>
              <div>Tue</div>
              <div>Wed</div>
              <div>Thu</div>
              <div>Fri</div>
              <div>Sat</div>
          </div>
            <div class="calendar-days" name="clicked-date" id="clicked-date"></div>
      </div>
      <div class="month-list"></div>
  </div>
  <script src="../static/js/calendar.js"></script>

  <a href="/">
    <button id = "homepage-button">Back to Home</button>
  </a>
</body>

{% endblock %}