{% extends 'base.html' %}

<title>
    {% block title %}
        Error
    {% endblock %}
</title>

{% block body %}

<body>
    <div class="width-100 vh-100 grid-center" id="error-page-container">
        <div class="row grid-center outer-row width-100" id="error-outer-row">
            <div class="row inner-row" id="error-inner-row">
                <div class="col grid-center" id="error-image-col">
                    <div class="image-container">
                        <img
                            id = error-image
                            src = "../static/media/other_images/error-image.jpg">
                        </img>
                    </div>
                </div>
                <div class="col grid-center" id="error-text-col">
                    <div class="row grid-center" id="error-text-row">
                        <div class="row" id="oh-no-text">
                            <text>
                                <div class="pink-text" id="oh-no">
                                    Oh no!
                                </div>
                                It looks like you've reached this page in error...
                            </text>
                        </div>
                        <div class="row" id="error-buttons">
                            <div class="col">
                                <button id ="back-to-homepage-error" class="btn" onclick="location.href='/'">
                                    Back to Homepage
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}