{% extends 'base.html' %}

<title>
    {% block title %}Error{% endblock %}
</title>

{% block body %}

<body>

    <div class="row">
        <div class="col" id="error-image">
            <small> - image here - </small>
        </div>
        <div class="col" id="error-text">

            <text id="oh-no-text">
                <h1>
                    Oh no!
                </h1>
                
                <h3>
                    It looks as though you've reached this page in error...
                    <br><br>
                </h3>

                <button id ="back-to-homepage-error" class="btn btn-outline-success" onclick="location.href='/'">
                    Back to Homepage
                </button>
            </text>

            

        </div>
    </div>

</body>

{% endblock %}