{% extends 'base.html' %}

<title>
    {% block title %}Error{% endblock %}
</title>

{% block body %}

<body>

    <!-- <div class="error-page"> -->

        <text id="error-text">
            <h1 id="oh-no-text">Oh no!</h1>
            <h3>It looks as though you've reached this page in error...</h3>
        </text>

        <button id ="back-to-homepage-error" class="btn btn-outline-success" onclick="location.href='/'">
            Back to Homepage
        </button>

    <!-- </div> -->

</body>

{% endblock %}