{% extends 'base.html' %}

<title>
    {% block title %}
        {{holiday}}
    {% endblock %}
</title>

{% block body %}

<body>
    <div class="holiday-container" id="holiday-body">

        <div class="row" id="holiday-outer-row">
            <div class="col" id="holiday-outer-col">
                <div class="row" id="holiday-title">
                    <text id="date-is">
                        {{month_name}} {{day}}{{suffix}} is...
                    </text>
                    <text class="holiday-page-name">
                        {{holiday}}!
                    </text>
                </div>
                <div class="row" id="holiday-description">
                    <div class="col" id="previous-date">
                        <a id = "previous-date-button" href="/day-picker/{{previous_date_month}}/{{previous_date.day}}">◀︎</a>
                    </div>
                    <div class="col" id="holiday-image-col">
                        <div id="holiday-image" class="image-container">
                            <img class = "holiday-image"
                                src = "{{image}}"
                                width = 300>
                            </img>
                        </div>
                    </div>
                    <div class="col" id="blurb">
                        {{blurb}}
                    </div>
                    <div class="col" id="next-date">
                        <a id = "next-date-button" href="/day-picker/{{next_date_month}}/{{next_date.day}}">▶︎</a>
                    </div>

                    {% if multiple_holidays_on_date == True %}
                    <div class="row">
                        <div class="col">
                            <button id="random-holiday-on-date" class="btn" onclick="location.href='/random-holiday/{{month}}/{{day}}/{{holiday}}'">
                                But wait! It's also...
                            </button>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col" id="holiday-buttons-div">
                <button id="back-to-homepage" class="btn" onclick="location.href='/'">
                    Back Home
                </button>

                <button id="calendar-view-button-holiday" class="btn" onclick="location.href='/calendar-view'">
                    View Calendar
                </button>
            </div>
        </div>
    </div>

    <div class="row" id="explore-more-row">
        <span class="explore-more">
          Explore More Holidays!
        </span>
    </div>

    <div class="container-fluid slideshow">
        <div class="row" id="slideshow">
            <div class="col" id="left-slideshow-arrow">
            <a href id="left-arrow">◀︎</a>
            </div>
            <div class="col">
                <div class="row" id="holidays">
                </div>
            </div>
            <div class="col" id="right-slideshow-arrow">
            <a href id="right-arrow">▶</a>
            </div>
        </div>
        </div>
        
        <script src="../static/js/slideshow.js"></script>
    </div>
</body>

{% endblock %}