{% extends 'base.html' %}

<title>
    {% block title %}
        {{holiday}}
    {% endblock %}
</title>

{% block body %}

<body>

    <!-- CSS -->

    <link
        rel="stylesheet"
        href="../static/css/static.css">

    <div id="holiday-body">
        <br>
        <h3>
            {{month_name}} {{day}}{{suffix}} is...
        </h3>
        <h1>
            <text class="holiday-name" id="holiday-page-name">
                {{holiday}}!
            </text>
            <br>
        </h1>
        <br>

        {% if generate_scroll == True %}
            <div class="col" id="previous-date">
                <a id = "previous-date-button" href="/day-picker/{{previous_date_month}}/{{previous_date.day}}/{{previous_date.year}}">◀︎</a>
            </div>
            <div class="col">
                <a id = "next-date-button" href="/day-picker/{{previous_date_month}}/{{previous_date.day}}/{{previous_date.year}}">▶︎</a>
            </div>
        {% endif %}

        <div class="row">

            <div class="col">
                <div id = "holiday-image" class = "image-container">
                    <img class = "holiday-image"
                        src = "{{image}}"
                        width = 300>
                    </img>
                </div>
            </div>

            <div class="col" id="blurb">
                {{blurb}}
            </div>
        </div>

        <div>
            {% if from_homepage == False %}

                <br><br>
                <button id="back-to-calendar-button" class="btn btn-outline-success" onclick="location.href='/calendar-view'">
                    Back to Calendar
                </button>

            {% else %}

                <br><br>
                <button id="back-to-homepage" class="btn btn-outline-success" onclick="location.href='/'">
                    Back to Homepage
                </button>

                <button id="calendar-view-button-holiday" class="btn btn-outline-success" onclick="location.href='/calendar-view'">
                    View Calendar
                </button>

            {% endif %}

            {% if multiple_holidays_on_date == True %}
            
                <button id="random_holiday_on_date" class="btn btn-outline-success" onclick="location.href='/random-holiday/{{month}}/{{day}}'">
                    But wait! It's also...
                </button>
        
            {% endif %}
        </div>

        <br>

        <div class="row">
            <span class="explore-more">
                Explore More Holidays!
            </span>

            <br><br><br><br><br>
        </div>

        <div class="container-fluid">
            <div class="row" id="slideshow">
              <div class="col" id="left-slideshow-arrow">
                <a href id="left-arrow">◀︎</a>
              </div>
              <div class="col" id="slideshow-holiday">
                <div class="row" id="holidays"></div>
              </div>
              <div class="col" id="right-slideshow-arrow">
                <a href id="right-arrow">▶</a>
              </div>
            </div>
        </div>

        <div id="temp-js-script">
            <script>

                let slideshowHolidayList = []

                let firstHolidayIndex
                let secondHolidayIndex
                let thirdHolidayIndex

                const leftArrowButton = document.getElementById("left-arrow")
                const rightArrowButton = document.getElementById("right-arrow")


                leftArrowButton.addEventListener("click", function(evt) {
                    evt.preventDefault()

                    const holidaysDiv = document.getElementById("holidays")
                    holidaysDiv.innerHTML = ""

                    holidaySlideshow(firstHolidayIndex-1, secondHolidayIndex-1, thirdHolidayIndex-1, true)
                })


                rightArrowButton.addEventListener("click", function(evt) {
                    evt.preventDefault()

                    const holidaysDiv = document.getElementById("holidays")
                    holidaysDiv.innerHTML = ""

                    holidaySlideshow(firstHolidayIndex+1, secondHolidayIndex+1, thirdHolidayIndex+1, true)
                })


                async function getSlideshowHolidays() {
                    return fetch("/get-slideshow-holidays")
                        .then((response) => response.json())
                        .then((slideshow_holidays) => {
                            slideshowHolidayList = slideshow_holidays
                        })
                }


                async function holidaySlideshow(first=0, second=1, third=2, continuing=false) {
                    const holidaysDiv = document.getElementById("holidays")

                    if (continuing == false) {
                        await getSlideshowHolidays()
                    } 
                    
                    else if (third == slideshowHolidayList.length) {
                        third = 0
                    } else if (second == slideshowHolidayList.length) {
                        second = 0
                    } else if (first == slideshowHolidayList.length) {
                        first = 0
                    }

                    else if (first == -1) {
                        first = slideshowHolidayList.length - 1
                    } else if (second == -1) {
                        second = slideshowHolidayList.length -1
                    } else if (third == -1) {
                        third = slideshowHolidayList.length - 1
                    }

                    firstHolidayIndex = first
                    secondHolidayIndex = second
                    thirdHolidayIndex = third

                    let slideshowHolidayIndexes = [firstHolidayIndex, secondHolidayIndex, thirdHolidayIndex]

                    for (let i of slideshowHolidayIndexes) {
                        holidaysDiv.innerHTML += (`<div class="col" id="slideshow-holiday">
                                                        <div class="row">
                                                            <div class="col" id="slideshow-holiday-image">
                                                                <a href = "/${slideshowHolidayList[i].holiday_name}">
                                                                <div class="image-container" id="slideshow-image">
                                                                    <img
                                                                        src = "${slideshowHolidayList[i].holiday_img}"
                                                                        width = 200
                                                                        id = "slideshow-image">
                                                                    </img>
                                                                </div>
                                                                </a>
                                                            </div>
                                                        <div class="col" id="slideshow-holiday-blurb">
                                                            <p id="slideshow-holiday-name">
                                                                <a href="/${slideshowHolidayList[i].holiday_name}" id="name-tag">
                                                                    ${slideshowHolidayList[i].holiday_name}
                                                                </a>
                                                            </p>
                                                            <p id="slideshow-holiday-date">
                                                                ${slideshowHolidayList[i].holiday_month} ${slideshowHolidayList[i].holiday_date}${slideshowHolidayList[i].date_suffix}
                                                            </p>
                                                        </div>
                                                    </div>`)
                    }
                }

                getSlideshowHolidays().then(() => holidaySlideshow())
            </script>
        </div>

    </div>
    <!-- <script src="../static/js/slideshow.js" defer></script> -->
    <!-- ^ Not working when navigating from calendar view ?? -->
</body>

{% endblock %}