{% extends 'base.html' %}

<title>
    {% block title %}{{holiday}}{% endblock %}
</title>

{% block body %}

<body>
    <div>
        <br>
        <h3>
            {{month_name}} {{day}}{{suffix}} is...
        </h3>
        <br>
        <h1>
            <font color = #f364a2> <!-- remove later -->
                {{holiday}}!
            </font>
        </h1>
        <br>
        <style> 
            h3 {text-align: center;}
        </style> <!-- this too -->
    </div>
    <div id = "holiday-image">
        <img class = "holiday-image"
                    src = "{{image}}"
                    width = 300>
                </img>
    </div>

    {% if generate_scroll == True %}
    <small>scroll logic here</small><br> <!-- remove text -->
    Previous: {{previous_date}}<br>
    Next: {{next_date}}
    {% endif %}

    <style>
        #blurb {width: 500px; margin: auto;}
    </style>
    <div id="blurb">
            {{blurb}}
    </div>

    <div>
        <button id = "back-to-calendar-button" onclick="location.href='/calendar-view'">
            Back to Calendar
        </button>

        {% if multiple_holidays_on_date == True %}
        
            <button id="random_holiday_on_date" onclick="location.href='/random-holiday/{{month}}/{{day}}'">
                But wait! It's also...
            </button>
    
        {% endif %}
    </div>
</body>


{% endblock %}