{% extends 'base.html' %}

<title>
  {% block title %}Homepage{% endblock %}
</title>

{% block body %}

<body>

  <!-- CSS -->
  <link
    rel="stylesheet"
    href="../static/css/static.css">

  <div class="homepage">
    <h3>
      Daily Holiday Calendar
      <br><br><br>
    </h3>

    <h2>
      <b>Today is...</b>
    </h2>

    <h1>
      <font color=#f364a2>
        {{holiday}}!
      </font>
    </h1><br>

    <button id="learn-more-button" onclick="location.href='/{{holiday}}'">
      Learn more about {{holiday}}!
    </button><br><br><br>

    <div>
      <button id="calendar-view-button" onclick="location.href='/calendar-view'">
        View Calendar
      </button>

      <button id="random_holiday_from_homepage" onclick="location.href='/random-holiday'">
        Show me a random holiday!
      </button>
    </div>
  </div>


  <br><br>
  <a href="/test-email/testuser4@test.com"><small>test holiday email template</small></a>
  <a href="/welcome-email/testuser1@test.com"><small>test welcome email template</small></a>

</body>

{% endblock %}