{% extends 'base.html' %}

<title>
  {% block title %}Homepage{% endblock %}
</title>

{% block body %}

<body>

  <!-- CSS -->
  <link
    rel="stylesheet"
    href="../static/css/static.css">

  <div class="homepage container">
    <div class="row" id="homepage-title">
      <h1>
        <br><br><br><br>
        <br><br><br><br>
        <br>
        <span is="type-async" id="celebrate-dynamic">Celebrate</span>
        <script src="../static/js/static.js"></script>
          <b>Today!</b>
          <br>
      </h1>
    </div>
    <div class="row">
      <div class="col">
        <h2 id="today-is-text">
          <b>
            Today is...
          </b>
        </h2>

        <h1>
          <text class="holiday-name">
            <b>
              {{holiday}}!
            </b>
          </text>
        </h1>
        <br>

        <button id="learn-more-button" class="btn btn-outline-success" onclick="location.href='/{{holiday}}'">
          Learn more about {{holiday}}!
        </button><br><br><br>
      </div>

      <div class="col" id="homepage-image">
        <small>- image here -</small>
      </div>
    </div>

    <div>
      <button id="calendar-view-button" class="btn btn-outline-success" onclick="location.href='/calendar-view'">
        View Calendar
      </button>

      <button id="random-holiday-from-homepage" class="btn btn-outline-success" onclick="location.href='/random-holiday'">
        Show me a random holiday!
      </button>

      <br><br>
    </div>

    <div class="row">
      <span class="explore-more">
        Explore More Holidays!
      </span>
      
      <br><br><br><br>
    </div>
  
    <div class="container-fluid">
      <div class="row" id="slideshow">
        <div class="col" id="left-slideshow-arrow">
          <a href="">◀︎</a>
        </div>
        {% for holiday in slideshow_holidays[0:3] %}
          <div class="col" id="slideshow-holiday">
            <div class="row">
              <a class="col" id="slideshow-holiday-image" href="/{{holiday.holiday_name}}">
                <div class="image-container">
                  <img
                      src = "{{holiday.holiday_img}}"
                      width = 200
                      id = "slideshow-image">
                  </img>
                </div>
              </a>
              <div class="col" id="slideshow-holiday-blurb">
                  <p id="slideshow-holiday-name">
                    <a href="/{{holiday.holiday_name}}">
                      {{holiday.holiday_name}}
                    </a>
                  </p>
                  <p id="slideshow-holiday-date">
                    {{holiday.holiday_month}} {{holiday.holiday_date}}{{holiday.date_suffix}}
                  </p>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="col" id="left-slideshow-arrow">
          <a href="">▶</a>
        </div>
      </div>
    </div>
  </div>
  
</body>

{% endblock %}