{% extends 'base.html' %}

<title>
    {% block title %}Homepage{% endblock %}
</title>

{% block body %}

<body>
    <div class="width-100 grid-center vh-100">
        <div class="row grid-center width-100 outer-row" id="password-outer-row">
            <div class="col grid-center inner-row" id="password-inner-row">
                    <div class="row width-100" id="hey-friend-text">
                        <text>
                            <div class="pink-text" id="welcome-text">
                                <text>
                                    Welcome to <br>
                                    <span class="pink-text">HolidayHub</span>
                                </text>
                            </div>
                            {% if invalid_password == False %}
                                <form action="/check-password" class="grid-center" method = "GET" id="password-form">
                                    <label for="password">Please enter password:</label>
                                    <input class="form-control me-2" id="password" name="password" type="password" autocomplete="off" required /></textarea>
                                    <button class="btn submit-password" type="submit"><text>Submit</text></button>
                                </form>
                            {% else %}
                            <form action="/check-password" class="grid-center" method = "GET" id="password-form">
                                <label for="password">Please enter password:</label>
                                <input class="form-control me-2" id="password" name="password" type="password" autocomplete="off" placeholder="Try Again" required /></textarea>
                                <button class="btn submit-password" type="submit"><text>Submit</text></button>
                            </form>
                            {% endif %}
                        </text>
                    </div>
                    <div class="row" id="error-buttons">
                        <div class="col">
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}