{% extends 'base.html' %}

<title>
    {% block title %}
        Privacy Policy
    {% endblock %}
</title>

{% block body %}

<body>
    <div class="width-100 grid-center" id="privacy-policy-page-container">
        <div class="row grid-center width-100 outer-row" id="privacy-policy-outer-row">
            <div class="row width-100 inner-row privacy-policy-inner-row pink-text" id="privacy-policy-title">
                <text>
                    Privacy Policy
                </text>
            </div>
            <div class="row inner-row privacy-policy-inner-row" id="privacy-policy-inner-row-2">
                <text>
                    Thank you for choosing HolidayHub! This Privacy Policy describes how HolidayHub ("we", "us", or "our") collects, uses, and shares information when you use our website ("Service").

                    <br>

                    <div class="inner-row-title">
                        <b>Information We Collect:</b> 
                    </div>
    
                    <div class="padded-text">
                        When you use HolidayHub, we collect the following types of information:
                    </div>
    
                    <br>
    
                    • <b>Personal Information:</b> When you sign up for email updates (currently only available to Beta Users), we collect your first name and email address. This information is provided voluntarily by you.
                    <br>
                    • <b>Session Data:</b> We use session data to enhance your experience when you're logged into our website as a Beta User. Session data is stored temporarily while you're using our website and is not retained after you log out.

                    <br>

                    <div class="inner-row-title">
                        <b>How We Use Your Information:</b>
                    </div>

                    <div class="padded-text">
                        We use the information we collect for the following purposes:
                    </div>

                    <br>

                    • <b>Sending Emails:</b> Your email address and first name are used solely for sending you site-related emails, such as updates or notifications. You can unsubscribe from these emails at any time by clicking the "unsubscribe" link at the bottom of any email. If you unsubscribe, your information will be permanently deleted from our database within 12-48 hours.

                    <br>

                    <div class="inner-row-title">
                        <b>Third-Party Services:</b>
                    </div>

                    We utilize the ElasticEmail API to send emails via our server. While we don't share your personal information with ElasticEmail, they may have access to your email address during the email delivery process. Please review <a href="https://elasticemail.com/resources/usage-policies/privacy-policy">ElasticEmail's privacy policy</a> for more information on how they handle data.

                    <br>

                    <div class="inner-row-title">
                        <b>Your Rights:</b>
                    </div>

                    <div class="padded-text">
                        As a user of HolidayHub, you have the right to:
                    </div>

                    <br>

                    • <b>Opt-Out:</b> You can opt out of receiving emails from us at any time by unsubscribing using the link provided at the bottom of any HolidayHub email.

                    <br>

                    <div class="inner-row-title">
                        <b>Data Security:</b>
                    </div>

                    Your personal information, including first names and emails, is encrypted before being stored in our database. Data is only decrypted when necessary for sending emails.

                    <br>

                    <div class="inner-row-title">
                        <b>Contact Us:</b>
                    </div>

                    If you have any questions about this Privacy Policy or our data practices, please contact us by email at:
                    <br>
                    <b>dev.email.holidayapp@gmail.com</b>

                    <br>

                    <div class="inner-row-title">
                        <b>Changes to This Privacy Policy:</b>
                    </div>

                    <div class="padded-text">
                        We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
                    </div>

                    <br>

                    <small><i>Last Updated: 5/14/2024</i></small>
                </text>
            </div>

            <div class="row inner-row privacy-policy-inner-row" id="privacy-policy-inner-row-12">
                <text id="privacy-policy-cheers">
                    Cheers!
                </text>

                <br>

                <text class="pink-text" id="privacy-policy-signature">
                    HolidayHub
                </text>

            </div>
        </div>
    </div>
</body>

{% endblock %}