{% extends 'base.html' %}

<title>
    {% block title %}
        {{holiday}}
    {% endblock %}
</title>

{% block body %}

<body>

    <!-- CSS -->
    <link
    rel="stylesheet"
    href="../static/css/static.css">

    <div id="holiday-body">
        <br>
        <h3>
            {{month_name}} {{day}}{{suffix}} is...
        </h3>
        <h1>
            <text class="holiday-name">
                {{holiday}}!
            </text>
        </h1>
        <br>
        <style> 
            h3 {text-align: center;}
        </style> <!-- this too -->
    <div id = "holiday-image">
        <img class = "holiday-image"
            src = "{{image}}"
            width = 300>
        </img>
    </div>
    <style>
        #blurb {width: 500px; margin: auto;}
    </style>
    <div id="blurb">
        {{blurb}}
    </div><br>

    <div>
        <button id="back-to-home" class="btn btn-outline-success" onclick="location.href='/'">
            Back Home
        </button>
        
        <button id="random-holiday-on-date-from-homepage" class="btn btn-outline-success" onclick="location.href='/random-holiday'">
            Show me another random holiday!
        </button>
    </div><br>
</div>
</body>

{% endblock %}