{% extends 'base.html' %}

<title>
    {% block title %}
        {{holiday}}
    {% endblock %}
</title>

{% block body %}

<body>
    <div><br>
        <h3>
            {{month_name}} {{day}}{{suffix}} is...
        </h3><br>
        <h1>
            <font color = #f364a2> <!-- remove later -->
                {{holiday}}!
            </font>
        </h1>
        <br>
        <style> 
            h3 {text-align: center;}
        </style> <!-- this too -->
    </div>
    <div id = "holiday-image">
        <img class = "holiday-image"
            src = "{{image}}"
            width = 300>
        </img>
    </div>
    <style>
        #blurb {width: 500px; margin: auto;}
    </style>
    <div id="blurb">
        {{blurb}}
    </div><br>

    <div>
        <button id="back-to-home" onclick="location.href='/'">
            Back home
        </button>
        
        <button id="random_holiday_on_date_from_homepage" onclick="location.href='/random-holiday'">
            Show me another random holiday!
        </button>
    </div><br>
</body>

{% endblock %}