{% extends 'base.html' %}

<title>
  {% block title %}Unsubscribed{% endblock %}
</title>

{% block body %}

<body>

    <div class="width-100 grid-center vh-100" id="unsubscribe-page-container">
        <div class="row grid-center width-100 outer-row" id="unsubscribe-outer-row">
            <div class="row inner-row" id="unsubscribe-inner-row">
                <div class="row pink-text" id="unsubscribe-text-row-1">
                    <text>
                        Sorry to see you go!
                    </text>
                </div>
                <div class="row" id="unsubscribe-text-row-2">
                    <text>
                        You have been unsubscribed.
                    </text>
                </div>
                <div class="row" id="unsubscribe-text-row-3">
                    <text>
                        Please allow up 24 hours for changes to take effect
                    </text>
                </div>
                <div class="row" id="unsubscribe-buttons">
                    <a href="/">
                        <button id="homepage-button" class="btn">Back Home</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

{% endblock %}