{% extends 'base.html' %}

<title>
  {% block title %}Unsubscribed{% endblock %}
</title>

{% block body %}

<body class="unsubscribe-page">
    <div>
        <font color=#f364a2><h1 id="unsubscribe-text1">
            Sorry to see you go!
        </font></h1>
    </div>
    <div>
        <h5 id="unsubscribe-text2">
            You have been unsubscribed.
        </h5>
    </div>

    <br><br>

    <div>
        <small>
            Please allow up 24 hours for changes to take effect
        </small>
    </div>

    <br><br><br><br>

    <a href="/">
        <button id="homepage-button" class="btn btn-outline-success">Back to Home</button>
    </a>
</body>

{% endblock %}