{% extends 'base.html' %}

<title>
  {% block title %}Unsubscribed{% endblock %}
</title>

{% block body %}

<body class="unsubscribe-page">

    <div class="row" id="unsubscribe-text">
        <h1 id="unsubscribe-text1">
            Sorry to see you go!
        </h1>
    
        <h5 id="unsubscribe-text2">
            You have been unsubscribed.
        </h5>

        <br><br>

        <div>
            <small>
                Please allow up 24 hours for changes to take effect
            </small>
        </div>

    </div>

    <br><br><br>

    <a href="/">
        <button id="homepage-button" class="btn btn-outline-success">Back to Home</button>
    </a>
</body>

{% endblock %}